*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
}
.container-film{

}
.film{
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    color: white;
}